@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 217.5 100% 99.34%;
    --ring: 210 30.43% 90.98%;
    --input: 210 30.43% 90.98%;
    --muted: 210 31.89% 90.96%;
    --accent: 210 30.43% 90.98%;
    --border: 210 30.43% 90.98%;
    --popover: 0 0% 100%;
    --primary: 217.5 16% 9.8%;
    --secondary: 210 30.43% 90.98%;
    --background: 216 100% 98.46%;
    --foreground: 217.5 16% 9.8%;
    --destructive: 14 96.55% 40.31%;
    --card-foreground: 217.5 16% 9.8%;
    --muted-foreground: 217.5 11.49% 49.68%;
    --accent-foreground: 217.5 16% 9.8%;
    --popover-foreground: 217.5 16% 9.8%;
    --primary-foreground: 217.5 100% 98.43%;
    --secondary-foreground: 217.5 16% 9.8%;
    --destructive-foreground: 13.85 100% 96.93%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 217.5 16% 9.8%;
    --ring: 217.06 100% 93.33%;
    --input: 220 8.91% 19.8%;
    --muted: 217.5 12.59% 15.03%;
    --accent: 217.5 14.29% 13.46%;
    --border: 220 8.83% 19.79%;
    --popover: 217.5 16% 9.8%;
    --primary: 217.06 100% 93.33%;
    --secondary: 220 53.57% 67.06%;
    --background: 217.5 16% 9.8%;
    --foreground: 217.5 100% 93.42%;
    --destructive: 1.58 47.5% 52.94%;
    --card-foreground: 217.06 100% 93.33%;
    --muted-foreground: 216.67 18.95% 62.75%;
    --accent-foreground: 217.06 100% 93.33%;
    --popover-foreground: 217.06 100% 93.33%;
    --primary-foreground: 217.5 16% 9.8%;
    --secondary-foreground: 217.5 16% 9.8%;
    --destructive-foreground: 1.58 14.67% 85.58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
