@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
    --background: 0, 0%, 98%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 98%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 15%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 93%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 240, 6%, 10%;
    --ring: 217.06 100% 93.33%;
    --input: 220 8.91% 19.8%;
    --muted: 217.5 12.59% 15.03%;
    --accent: 240, 6%, 13%;
    --border: 220 8.83% 19.79%;
    --popover: 240, 6%, 10%;
    --primary: 217.06 100% 93.33%;
    --secondary: 220.5 16% 18%;
    --background: 240, 6%, 10%;
    --foreground: 217.5 100% 93.42%;
    --destructive: 1.58 47.5% 52.94%;
    --card-foreground: 217.06 100% 93.33%;
    --muted-foreground: 216.67 18.95% 62.75%;
    --accent-foreground: 217.06 100% 93.33%;
    --popover-foreground: 217.06 100% 93.33%;
    --primary-foreground: 217.5 16% 9.8%;
    --secondary-foreground: 217.5 100% 89%;
    --destructive-foreground: 1.58 14.67% 85.58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
